<script type="text/javascript" charset="utf-8">
  FORMATTED_SEARCH_ADMIN_MEMBERS_PATH = '<%= search_admin_members_path(:format => :js) %>';
  FORMATTED_ADMIN_GROUP_MEMBERS_PATH = '<%= admin_host_index_path(:hostable_id => @subject.id, :hostable_type => "subject", :format => :js) %>';
</script>

<%- content_for(:page_scripts) do -%>
  <%= javascript_include_tag 'admin/groups'%>
<%- end -%>

<h1 class="use16columns inner_left">Edit Subject: <%= h @subject.name %></h1>

<%= error_messages_for :subject %>
 
<h3><%= link_to "Edit #{@local_site ? @local_site.name : 'National'} Subject Page Layout", layout_admin_subject_path(@subject) %></h3>
<h3><%= link_to "Preview #{@local_site ? @local_site.name : 'National'} Subject Page", subject_path(@subject), :target => "_blank" %></h3>

<div class="use10columns inner_left">
  <% form_for :subject, :url => admin_subject_path(@subject), :html => { :method => :put, :multipart => true } do |f| -%>
  <%= render :partial => 'form' , :locals => { :f => f }%>
  <p><%= submit_tag 'Update' %> <%= cancel_tag admin_subject_path(@subject) %></p>
  <% end -%>
</div>

<div class="fieldset use6columns inner_left inner_right">
  <h3><%=@local_site ? @local_site.name : 'National Site'%>: Hosts</h3>
	<br/>
  
	<%= render :partial => "admin/members/member_lookup", :locals => {
		:members => @subject.hosts(@local_site),
		:add_url => admin_host_path(:hostable_id => @subject.id, :hostable_type => "subject", :format => :js),
		:delete_base_url => admin_host_index_path(:hostable_id => @subject.id, :hostable_type => "subject", :format => :js)} %>
	
</div>
