<h1 class="title use16columns"><%= h @subject.name %><%= edit_button(edit_admin_subject_path(@subject)) %></h1>
<h3><%= link_to "Edit #{@local_site ? @local_site.name : 'National'} Subject Page Layout", layout_admin_subject_path(@subject) %></h3>
<h3><%= link_to "Preview #{@local_site ? @local_site.name : 'National'} Subject Page", subject_path(@subject), :target => "_blank" %></h3>
<dl>
  <dt>Image</dt>
<%- if @subject.image -%>
  <dd><%= image_tag @subject.image.public_filename(:column) %></dd>
  <dd>Credit: <%= @subject.image.credit || '(empty)' %>
  <dd>Credit Url: <%= @subject.image.credit_url || '(empty)' %>
  </dd>
<%- else -%>
  <dd>(No Image)</dd>
<%- end -%>
  <dt>Topic Volume (# of days worth of stories to display)</dt>
  <dd><%= h @subject.topic_volume %> <%= " - will appear in the Widgets pull-down list" if @subject.topic_volume <= 30 %></dd>
</dl>

<div class="use10columns inner_left">
  <dt>Description</dt>
  <div class="preview_source">
  <%= h @subject.intro %>
  </div>
</div>
<br />
