<% popup_param = params[:popup] ? "?popup=true" : "" -%>
<%- if facebook_enabled? -%>
<div class="other_login_option">
  <div class="question">
    <strong>Got Facebook?</strong> Log In or Sign Up with your Facebook account. <%= help_icon("facebook", "") %>
  </div>
  <div style="padding-top: 5px">
    <%= fb_login_button("fbc_init_activation('', '#{popup_param}')", :v => 2, :size => "short") %>
  </div>
</div>
<%- end -%>

<div class="other_login_option">
  <div class="question">
    Don't have a <%=app_name%> account yet?<%= help_icon("join", "") %>
  </div>
  <%= link_to "Sign Up", new_member_path(params.slice(:popup)), :style => "font-size:125%" %>
</div>

<br/>

<h3>Or log in with your <%=app_name%> account here:</h3>
<br/>

<%- reload ||= false -%>
<%- args = params[:popup] ? {:popup => true} : {} -%>
<%- args.merge!({:reload => true}) if reload -%>
<%- form_tag sessions_path(args), :class => 'entry_form' do -%>
  <%= render :partial => "sessions/log_in" %>
<%- end -%>
