<% @title = "Quick Review Tips" %>
<%= "<a name=\"top\"></a>" unless params[:popup] %>

<div class="help_page">
<div class="listing">
<div class="top"></div>
<div class="wrapper">
<div class="interior">

<%= content_tag(:h1, @title + " <span class=\"small\">(Frequently Asked Questions)</span>") unless params[:popup] %>

<p>Reviewing a story is quick and easy. Here are some quick review tips to get you started. For more info, check our <a href="/help/faq/reviewer">Reviewer FAQ</a>.
<table id="faq_table" border="0" cellspacing="0" cellpadding="0">

<p><a name="how_to_review_story"></a><span class="subhead_plain_bold">How do I review a story on <%=app_name%>?</span>
To review a story, click on the 'Review' link next to any story title on our site. This will open the story on the news site, along with our toolbar and review form. (In some cases, the story and our review form will show in separate windows, for news sites that do not support our toolbar).</p>
<p><a name="how_review_works_story"></a><span class="subhead_plain_bold">How does a review form work?</span>
The <%=app_name%> review form is like an online score pad, with a series of questions about the news story you are reviewing. Answer as many questions as you like, write a short note if you choose, then click the yellow "Save" button when you're finished.   We have different review forms for news stories (e.g. news reports, news analysis and special reports), and for opinion pieces (e.g. editorials, commentary and interviews). For either of these, you can choose to fill out one of these forms: Short, Quick, Full or Advanced.</p>
<ul>
	<LI>Short Review Form (3 questions)</li>
    <li>Quick Review Form (5 questions)</li>
    <li>Full Review Form (10 questions)</li>
    <li>Advanced Review Form (18 questions)</li>
</ul>
<P>
	To change between the Short, Quick, Full and Advanced Review forms, simply click the drop-down menu below the 'Review' tab.  </p>
<p>
	
To review a story, follow these simple steps:</p>
<p>
<em>1. <strong>Read</strong> this story<br>
2. <strong>Rate</strong> this story<br>
3. <strong>Save</strong> your review</em></p>
<p>
These review steps are described below.
</p><span class="back_top"><hr><a href="#top" class="subhead_plain">Back to Top</a></span>
<p><a name="check_story"></a><a name="read_story"></a><span class="subhead_italic">1. Read this Story</span>
Carefully read, watch or listen to the entire story before starting your review. Focus on the quality of the journalism, rather than whether you agree or disagree with the perspectives presented in the story.</p>
<p>
To see reviews from other members for this story, click on the 'Reviews' link next to the story rating in the Toolbar. 
</p>
<p><a name="story_rating_questions"></a><a name="rate_story"</a><span class="subhead_italic">2. Rate this Story</a></span>
Next, answer a few questions about the quality of this story. These questions asks you to rate the story for core principles of journalism, such as facts, fairness and sourcing.
</p>
<p>
The questions will vary depending on which version of the review form you choose to fill out. Click on the question marks next to any question title for help tips.
</p>
<p>At the end of your review, you can explain your rating in the notes section, or add a comment about your personal views on the subject. You can also include your favorite quotes from the story, or add a related link.
</p>

<p><a name="story_rating_questions"></a><a name="rate_story"</a><span class="subhead_italic">3. Save your Review</span>
When you're finished, click the yellow "Save" button at the bottom of the review form.</p>
<p>
You will then be able to edit or share your review, see other members' reviews of the story, or go back to the <%=app_name%> home page.
</p>

<p>
You can edit your own reviews anytime, by simply clicking on the yellow "Edit your Review" button on any story page.</P>
<p>
	To learn more about reviewing stories, please check <%=app_name%>'s quick guide "<a href="http://newstrust.net/guides">Think Like a Journalist</a>," and our educational resources.
</p><span class="back_top"><hr><a href="#top" class="subhead_plain">Back to Top</a></span>
<p><a name="rating_tips"</a><span class="subhead_italic">Rating Tips</span>
Here are detailed explanations of each of the rating questions on the <%=app_name%> review form:</td></tr>

<p><a name="story_overall_rating"></a><a name="overall_quality"></a><span class="subhead_plain_bold">Recommendation</span>
<em>Q. Is it a good story?</em><br>
Would you recommend this story to a friend? This required question simply records whether you like this story or not. It is comparable to the up and down arrows used by popularity-based social news sites like Digg or Reddit. This lets us measure the overall popularity of each story, and compare it to our in-depth quality ratings. </p>
<p>
The next questions in our review form will help you reach beyond your initial impressions, by carefully checking journalistic qualities like fairness, evidence and sourcing, for a more reliable quality rating.
</p>
<p><a name="story_trust"></a><a name="credible_sources"></a><a name="trust_source"></a><span class="subhead_plain_bold">Trust</span>
<em>Q. Do you trust this publication?</em><br>
This question measures how much you personally trust the publisher of this story. Based on your experience, is this publication credible? Can it be trusted to provide reliable information?  We ask this subjective question upfront, because trust plays such an important role in how we perceive the news. Note that your rating for that question will be automatically filled-in next time you review a story from this publication.</p>
<p>
The questions that follow will help you verify this source's journalistic integrity in more depth. If your initial trust level changes as a result of your story review, please adjust this rating accordingly.</p>
<p><a name="story_information"></a><a name="original_coverage"></a><span class="subhead_plain_bold">Information</span>
<em>Q. Is this story informative?</em><br>
Here we evaluate the depth, thoroughness and originality of this story's news coverage and/or interpretation. Is the journalist providing new information here, or merely repeating what others have written about this topic? To answer this question, you may want to compare this story to other stories on the same topic. To view related links, click on "See Reviews" in the top navbar of the review form.</p>
<p><a name="story_fairness"></a><a name="fair_story"></a><span class="subhead_plain_bold">Fairness</span>
<em>Q. Is this story fair?</em><br>
Journalists are expected to present fairly all sides of a controversy. Note this doesn't necessarily mean equal space for all sides. The space allotted to each side should be based on the evidence for its claims and its willingness to respond. Each relevant side, however, should be afforded the opportunity to make its core argument, or decline comment.</p>
<p><a name="story_sources"></a><a name="identified_sources"></a><span class="subhead_plain_bold">Sources</span>
<em>Q. Is this story well sourced?</em><br>
This question evaluates the level of care the authors take to find reliable sources for a story. Are these sources qualified to provide information based on special expertise, or unique knowledge of the facts? Expert sources whose view might not be influenced by a stake in the event or issue are particularly valuable; they help move reporting beyond "he said/she said" counterclaims that can leave readers confused. Additionally, how well does the author inform readers about where the information came from (clearly indicating and naming sources, explaining why a source may have been granted anonymity and providing some identifying information to help the reader/viewer assess credibility). As a rule, all sources should be named, including other news organizations. When a source cannot be named, readers are owed an explanation of why. </p>
<p><a name="story_context"></a><a name="big_picture"></a><span class="subhead_plain_bold">Context</span>
<em>Q. Does this story show the "big picture"?</em><br>
This question asks how well the story provides context by seeking answers to questions the public most needs to know about this issue or event. "Big picture" reporting that asks about causes, effects, solutions and trends, rather than describing a particular episode, such as a shooting, fire or accident, is also more helpful for this key "sense-making" function of news.</p>
<p><a name="story_evidence"></a><a name="factual_evidence"></a><span class="subhead_plain_bold">Evidence</span>
<em>Q. Does this story provide factual evidence?</em><br>
This question asks whether the authors of a story provide verifiable, factual evidence to support their assertions. Pay particular attention to whether the right type of evidence is provided (authoritative quotes, appropriate statistics, documents, etc.), especially in the headline and lead paragraphs (i.e., the principal generalizations the story makes). Documents and statistics often provide more compelling evidence for a generalization than statements by individuals. Multiple sources of evidence strengthen the story, as well as independent verification by the authors that this evidence is valid.</p>
<p><a name="story_importance"></a><a name="important_topic"></a><span class="subhead_plain_bold">Importance</span>
<em>Q. Is this an important topic?</em><br>
This question focuses on the importance of the topic or subject of the story, in order to help citizens participate in local, state and national government. Socially responsible journalism requires careful attention to what people in the community served need to know to make wise decisions, particularly collective (usually political) ones. Stories about celebrities, sports, fender-benders or lifestyle are generally are not as helpful for making sense of the world as stories on politics, government, education, crime, science, etc. Another way to judge the importance of a story's topic is to ask yourself how many people are affected by its topic: tens? thousands? millions? billions?</p>

<p><a name="story_balance"></a><a name="important_viewpoints"></a><span class="subhead_plain_bold">Balance</span>
<em>Q. Does this story present all key viewpoints?</em><br>
This question probes whether one or more important sides to the event or issue are missing or given less space than they deserve. In general, the more perspectives a story includes, the fuller the picture of reality it provides. Note that most news stories only have room for the core arguments each side makes, rather than their complete point of view.</p>

<p><a name="story_style"></a><a name="clear_story"></a><span class="subhead_plain_bold">Style</span>
<em>Q. Is this story well presented?</em><br>
The way a subject is treated also matters. Here we evaluate this story's overall style and the quality of its writing. Is the story clear and easy to understand? Does it present useful information in an interesting way? Does it make complex issues meaningful? Does it explain unfamiliar terms and processes to the average reader? Does it inspire as well as inform? </p>
<p><a name="topic_knowledge"></a><span class="subhead_plain_bold">Your Knowledge</span>
<em>Q. Do you know about this topic?</em><br>
This question measures how much you personally knew about this topic, before reading this story. How much information did you have on this subject already? This knowledge could be specific to the event or issue, or more general (e.g., familiarity with related topics).</p>
<p><a name="story_accuracy"></a><a name="accurate_story"></a><span class="subhead_plain_bold">Accuracy</span>
<em>Q. Is this story accurate?</em><br>
Only answer this question if you have sufficient knowledge of this topic. In most cases, you may not be able to judge the accuracy of a story without additional research. This question examines how closely the description of events and issues in this story matches reality and verified facts. When assessing a story's accuracy, be sure to review both its sources and the journalistic statements. How well do they square with the reality you observed? what other media reported? or what you already know about this topic? If you don't have access to sufficient information, please do not answer this question. Don't rate the story merely on plausibility. </p>
<p><a name="average_rating"></a><span class="subhead_plain_bold">My Average Rating</span>
As you answer rating questions in this review form, your average rating for this story is dynamically updated and shown at the bottom of the ratings section. (see below to find out how this average rating is calculated). </p>
<p>
Note that you can change your story ratings at any time, by simply clicking different values for each questions, until you are satisfied that your average rating represents your overall evaluation of that story's journalistic quality. 

</p>

<p><a name="comment"></a><span class="subhead_plain_bold">Comment</span>
<em>Q. Is this good journalism?</em><br>
Write a short comment about this story, to explain why you gave it these quality ratings. Please keep your comment to a maximum of 250 words. </p><span class="back_top"><hr><a href="#top" class="subhead_plain">Back to Top</a></span>
<p><a name="other_review_tips"></a><span class="subhead_italic">Other Review Tips</span>
</td></tr>
<p>&nbsp;</td>
</tr>  
 <p><span class="subhead_plain_bold">Focus on the journalism</span>
We aim to rate articles based on their journalistic quality, not whether we agree with the views presented in these articles. It's not always easy to separate the two, but it's worth a try: we often get the best information when we go past our pre-conceived ideas about an article, to look at how it was created. 
</p>
<p><span class="subhead_plain_bold">Be civil</span>
When writing your comments, be civil, thoughtful, concise, and respectful of others. From time to time, you'll see a review you disagree with; try to respond in a way that is not offensive to other members. Please treat people with the same respect you would like them to show you, and adhere to our <%= link_to 'terms of service', "/about/terms/" + (params[:popup] ? "?popup=true" : "") %>. 
</p>
<p><a name="disclosure" id="disclosure"></a><span class="subhead_plain_bold">Disclosure: Are you the author of a story? or personally related to it?</span>
If you are the author, publisher or subject of a story (or otherwise personally related to that story), please use our comment field to disclose any conflict of interest you might have as reviewer for this story. For example, if you are the author or publisher of this story, please identify yourself as such at the start of your comments. If you are a friend of the author, or work for the story's publication, please disclose the nature of your relationship in your comments. If you are featured in the story, or work for an organization that is related to this story, also disclose it in your comments. If you fit any of these cases, we ask that you rate these stories fairly, and refrain from manipulating our ratings for personal, ideological or commercial purposes.</p>
<p>
Deceptive, manipulative or offensive reviews may be removed at <%=app_name%>'s discretion and can lead to termination of your membership. Thank you for your understanding.

</p>

<p><span class="subhead_plain_bold">Other Review Form Sections</span>
Our review form includes more review sections for advanced reviewers (e.g. Tags, Research, Improvements). Simply click on the arrows next to each section name to open or close any of these sections. To find out more about these sections, check our <a href="/help/faq/reviewer">Reviewer FAQ</a>.
</p>
<p><span class="subhead_plain_bold">Rating Weights</span>
<%=app_name%> story ratings are weighted in three successive steps, to insure their reliability. </p>
<p>
We first weigh your answers based on the significance of each rating question for evaluating journalistic quality, based on findings from our <%= link_to 'research studies', "/survey/report" + (params[:popup] ? '" target="_blank' : "") %>. At this time, we use these weights for all stories:
<ul>
<% Rating.each_criterion_by_type("quality") do |criterion_key, criterion, form_level| %>
<li><strong><%= criterion["name"] %></strong>: <%= criterion["weight"]["news"] %> (News), <%= criterion["weight"]["news"] %> (Opinion)</li>
<% end %>
</ul>
<br>
That first weighted average is then weighted again, based on these individual reviewer criteria:
<ul>
<li>Your Rating: <%= SocialNewsConfig["review_weighting_component_weights"]["member_rating"] %>%
<li>Number of Answers: <%= SocialNewsConfig["review_weighting_component_weights"]["quality_ratings_completeness"] %>%
<li>Topic Knowledge: <%= SocialNewsConfig["review_weighting_component_weights"]["monitoring_rating"] %>%
<li>Member Ratings for your Review: <%= SocialNewsConfig["review_weighting_component_weights"]["meta_review_rating"] %>%
</ul>
<br>
In short, your ratings will count more if you answer more questions about this story, if you know more about its topic, and if your review received high ratings from other members.</p>
<p>
Lastly, we factor in your own member level, in order to determine a final, triple-weighted rating for each reviewed story.  To find out more about how member levels are calculated, check our <%= link_to 'Member FAQ', "/help/faq/member/" + (params[:popup] ? "?popup=true" : "") %>.

</p>

<p><a name="more_info"></a><span class="subhead_plain_bold">How can I find out more about <%=app_name%>?</span>
For more information about using <%=app_name%>, check our other help FAQs:<br><br>
<table width="100%">
<tr>
<td nowrap style="vertical-align:top"><li style="padding-top:2px"><%= link_to 'General FAQ', "/help/faq/" + (params[:popup] ? "?popup=true" : "") %>: </li></td><td style="vertical-align:top">for questions about <em>joining <%=app_name%></em> and <em>getting started</em></td></tr>
<tr>
<td nowrap style="vertical-align:top"><li style="padding-top:2px"><%= link_to 'Member FAQ', "/help/faq/member/" + (params[:popup] ? "?popup=true" : "") %>: </li></td><td style="vertical-align:top">for questions about viewing and editing our <em>member profiles</em></td></tr>
<tr>
<td nowrap style="vertical-align:top"><li style="padding-top:2px"><%= link_to mynews_colors() +' FAQ', "/help/faq/mynews/" + (params[:popup] ? "?popup=true" : "") %>: </li></td><td style="vertical-align:top">for questions about your <em>MyNews</em> and <em>My Network</em> pages</td></tr>
<tr>
<td nowrap style="vertical-align:top"><li style="padding-top:2px"><%= link_to 'Reviewer FAQ', "/help/faq/reviewer/" + (params[:popup] ? "?popup=true" : "") %>: </li></td><td style="vertical-align:top">for questions about our story <em>review</em> and <em>posting forms</em></td></tr></table>
<br>
<p>Please send your additional questions, ideas and thoughts to <%= mail_to email_addr("help"), email_addr("help"), :subject => "#{app_name} help request", :encode => "javascript" %>. We appreciate your interest in <%=app_name%> and your patience during this beta phase.</p>
</td></tr></table>

<span class="back_top"><hr><a href="#top" class="subhead_plain">Back to Top</a></span>

<br />

</div>

</div>
<div class="bottom"></div>
</div>

</div>
