<h1 class="title use16columns"><%= @partner.name%><%= edit_button(edit_admin_partner_path(@partner) + "?return_to=show") %> <%= delete_button(admin_partner_path(@partner)) %></h1>

<div class="use10columns inner_left">
  <p>Description</p>
  <%= h @partner.description %>
  <dl>
    <dt>Attributes</dt>
    <dd>Members: <%= h @partner.members.size %></dd>
    <dt>Invitations (<%= h(link_to("Create A new Invite", new_admin_partner_invitation_path(@partner))) %>)</dt>
    <div class="use8columns inner_right">
      <table cellpadding="0" cellspacing="0">
      <tbody>
      <%- @partner.invitations.each do |invite| -%>
        <tr>
        <td> <%= link_to(invite.name, admin_partner_invitation_path(@partner, invite)) -%> </td>
        <td> 
        <%= edit_button(edit_admin_partner_invitation_path(@partner, invite)) %> &nbsp;
        <%= delete_button(admin_partner_invitation_path(@partner, invite)) %> &nbsp;
        <%= @partner.is_primary_invite(invite) ? '<strong>PRIMARY INVITATION</strong>' : link_to('Make Primary Invite', make_primary_admin_partner_invitation_path(@partner, invite), :method => :put) -%>
        </td>
        </tr>
      <%- end -%>
      </tbody>
      </table>
      <br />
      <%= cancel_tag "/admin/partners" %>
  </dl>


</div>

<dl class="use6columns inner_right">
  <dt>Members</dt>
  <%- @partner.members.each do |member|-%>
  <dd><%= h member.name %></dd>
  <%-end -%>
</dl>
