<h1>Editing editorial space for <%=@editorial_space.page_name%></h1>

<%= error_messages_for :editorial_space %>

<% form_for :editorial_space, @editorial_space, :url => admin_editorial_space_path(@editorial_space), :html => { :method => :put} do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
  <p> <%= submit_tag "Update" %> <%= cancel_tag page_layout_path(@editorial_space.page_opts) %> </p>
<% end %>
