<%- @title, @meta_keywords, @meta_description = topic_title_and_meta_info(@topic, @primary_subject) -%>
<%- @login_overlay_header = "<p>Please login or #{link_to "<strong>sign up</strong>", new_member_path} to add your comment.</p>" -%>
<%-#- Specify a facebook OG meta-tag to let FB know what image to pick when someone likes the page -%>
<%- @og_meta_tags = { "og:image" => @topic.image.public_filename(:thumb) } if @topic.image -%> 

<%- content_for(:page_scripts) do -%>
  <%= javascript_include_tag 'listings' %>
  <%= javascript_include_tag 'follows' %>
<%- end -%>

<script type="text/javascript">
  $('#page_intro').truncate({max_length: 800});
<%- if logged_in? -%>
  <%#-- Need fixup to get around fragment caching! --%>
  $(document).ready(function() {
    var button = $('a#follow_button_to_fixup');
    button.attr('class', '<%= current_member.followed_topics.include?(@topic) ? "unfollow_tag" : "follow_tag"%>');
    button.click(function() {return toggle_follow(button, {type: 'topic', id: <%=@topic.id%>})});
    button.show();
  });
<%- end -%>
</script>

<div class="story_listing_detail span-16">
  <%= render :partial => 'shared/landing_pages/top_area',     :locals => {:page_obj => @topic} %>
  <%= render :partial => 'shared/landing_pages/listing_tabs', :locals => {:listing_route => {:t_slug => @topic.slug}, :page_obj => @topic } %>
  <%= render :partial => 'shared/landing_pages/comments',     :locals => {:page_obj => @topic} %>
</div>

<%= render :partial => 'shared/landing_pages/sidebar', :locals => {:page_obj => @topic} %>

<%- cache @right_column_cached_fragment_name do -%>
<div class="span-8 last">
  <%- topic_name = (@topic.name.length > 18) ? "This Topic's" : @topic.name -%>
  <%- topic_name2 = (@topic.name.length > 29) ? "This Topic's" : @topic.name -%>
  <%#= render :partial => 'subjects/smart_feeds_widget', :locals => {:name => topic_name, :slug => @topic.slug} -%>

  <%-#- SSS: No top sources widget for the bad journalism topic as per Fab's request --%>
  <%-#- SSS: No top sources widget for topic & subject pages on local sites -%>
  <%- if @local_site.nil? && @topic.slug != "bad_journalism" && @right_column_settings["show_top_sources?"].is_true? -%>
    <%= render :partial => 'subjects/top_sources', :locals => {:name => topic_name2, :slug => @topic.slug} %>
  <%- end -%>

  <%- if @local_site && !logged_in? -%>
    <%- right_column_box :header => "Sign Up" do -%>
      <p>Help find good local journalism. Sign up to review stories -- and get our free newsletters.</p>
      <div class="fb_button">
        <%= fb_login_button("fbc_activate('/partners/#{@local_site.slug}/public', '')", :length => "long", :v => "2") %>
      </div>
      <div style="margin-top:10px;font-size:12px"> or 
        <strong><%= link_to "sign up with SocialNews&nbsp;&nbsp;&raquo;", "/partners/#{@local_site.slug}/" %></strong>
      </div>
    <%- end -%>
  <%- end -%>

  <%-#- Some topics do not have any subjects set --%>
  <%- if @primary_subject && @right_column_settings["show_other_topics?"].is_true? -%>
    <%= render :partial => 'subjects/topics_column', :locals => {:subject => @primary_subject} %>
  <%- end -%>

  <%- if @right_column_settings["show_widget?"].is_true? -%>
    <%- right_column_box :header => topic_name + " Widget ", :disclaimer_link => 'NEW' do -%>
      <%- if @num_stories >= 8 && @primary_subject.to_s != "World" -%>
        <script type="text/javascript"> _NTW_numStories = 3; </script>
        <script src="/topics/<%= @topic.slug %>/most_recent.json" type="text/javascript"></script>
        <script src="/javascripts/widgets/formats/default.json" type="text/javascript"></script>
        <script src="/javascripts/render_widget.js" type="text/javascript"></script>
        <a href="/widgets?url=/topics/<%= @topic.slug %>/most_recent">Add this widget to your site <span class="more">&raquo;</span></a>
      <%- else -%>
        <a href="/widgets?url=/topics/<%= @topic.slug %>/most_recent">See this topic's widget <span class="more">&raquo;</span></a>
      <%- end -%>
    <%- end -%>
  <%- end -%>
</div>
<%- end -%>
