<% @additional_css_includes = ["admin/landing_page_layout" ] -%>

<% tag_type = @tag.class.name -%>

<h1> Edit <%= @local_site.name if @local_site%> <%=tag_type%> Layout: <%=@tag.name%> </h1>

<%- if current_member.has_role_or_above?(:admin) -%>
<h3><%= link_to "Edit #{tag_type} Page", send("edit_admin_#{tag_type.downcase}_path", @tag) %></h3>
<%- end -%>
<h3><%= link_to "Preview Public #{tag_type} Page", send("#{tag_type.downcase}_path", @tag), :target => "_blank" %></h3>

<div id="lp_layout">
  <% form_for :topic, :url => send("update_layout_admin_#{tag_type.downcase}_path", @tag), :html => { :method => 'put' } do |f| -%>
    <%= render :partial => "admin/shared/landing_page_layout", :locals => {:f => f } %>
  <% end -%>

  <hr style="height:3px"/><br/>

  <%= render :partial => "admin/shared/editorial_blocks", :locals => {:page_obj => @tag} %>
</div>
<br/><br/>
