<% group ||= nil -%>
<% @url_tracking_key ||= nil -%>

<ul class="stories_full_listings">
	<li class="title">
    <%= link_to_star(story,{:cached => @will_be_cached, :ref => @url_tracking_key}) %>
    <%= link_to_toolbar(story, h(story.title), :ref => @url_tracking_key, :class => "external") %>
		<br/>
		<%= content_tag(:span, "#{story_type_and_online_access(story)}", :class => "small_note") %>
		<%= content_tag(:span, "(#{humanize_token(story, :content_type)})", :class => "small_note") if !story.content_type.blank? and story.content_type != "article" %>
		<div class="posted_by"> <%= show_submitted_by(story, {:via_credits => false}) %> <%=show_feed_attribution(story)%></div>

	</li>
	<li class="source">
		<%= link_to_sources(story.sources, :ref => @url_tracking_key) %>
		<br/>
		<span class="byline">
			<%= "<span style='text-transform:lowercase;'>by</span> #{h(story.journalist_names)}" unless story.journalist_names.blank? %>
		</span>
	</li>
	<li class="rating">
		<%= render :partial => 'stories/rating_and_links', :locals => {:story => story, :hide_flags => {:submitted_by => true, :reviews => true, :no_rating => true}, :show_flags => {:num_reviews => true, :gray_trustometer => true}, :group => group} %>
	</li>
	<li class="date">
		<%= story.story_date.strftime('%m/%d/%Y') if story.story_date %>
	</li>
</ul>
