<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<%-#- Namespace required for Facebook Connect --%>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="ROBOTS" content="NOINDEX,NOARCHIVE"> <%#-- Prevent crawlers from indexing and archiving the content %>
    <link rel="canonical" href="<%=@story.url%>" />  <%#-- Tell search engines that this toolbar is basically pointing to the target story url %>
		<title><%= @story.title %> - <%=app_name%></title>

		<%-# includes should match toolbar_popup.html.erb or nearly so -%>

		<%= render :partial => 'shared/css_includes' %>
    <%= stylesheet_link_tag "toolbar", :media => "screen" %>

    <script type="text/javascript" charset="utf-8"> 
      var fb_sandbox_mode = <%= FacebookConnectSettings.in_sandbox_mode? ? "true" : "false" %>;
    </script>

		<%= render :partial => 'shared/jquery_includes' %>
		<%= javascript_include_tag 'review' %>
		<%= javascript_include_tag 'submit' %>
		<%= javascript_include_tag 'story_edit' %>
		<%= javascript_include_tag "toolbar" %>
		<%= javascript_include_tag "fbc" %>
		<%= javascript_include_tag "twitter" %>
		<%= javascript_include_tag 'members'%>
		
		<%# FIXME: why is this yield doing nothing? including imp't JS above -%>
		<%= yield :page_scripts -%>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=<%=SocialNewsConfig["app"]["slug"]%>"></script>
		
		<%# FIXME: this must be available to popup version of toolbar as well!! -%>
		<script type="text/javascript" charset="utf-8">
		  var story_url = <%= @story.url.to_json %>;
		</script>
	</head>
	<body>
  	<%-#- Facebook Connect initialization --%>
    <%= render :partial => "shared/fb_init" %>

    <%-#- SSS: Hide all ajax forms from bots -- they fill up the logs with errors! ! --%>
    <%- if !visitor_is_bot? -%>
      <%= render :partial => "toolbar_nav" %>
    <%- end -%>

		<iframe id="story_frame" name="story_frame" noresize="noresize" frameborder="0" scrolling="auto" src="<%= @story.url %>"></iframe>

    <%= render :partial => "layouts/ga" %> <%#-- Google Analytics --%>
	</body>
</html>
