<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
    <%= render :partial => 'shared/jquery_includes' %>
    <%= yield :page_scripts -%>
    <%= @inline_js || "" %>
      <!-- For the scenario where fb doesn't redirect us to the target url even after 3 secs -->
    <script type="text/javascript">
      setTimeout("redirectToTargetPage('<%=@fb_logout_redirect_url%>')", 3000)
      function redirectToTargetPage(url) { top.location = url; }
    </script>
  </head>
  <body>
    <%#-- FACEBOOK CONNECT --%>
    <%= fb_connect_javascript_tag %>
    <%= init_fb_connect_FIXED_UP %>

    <%if @logout_message -%>
    <div style="border:1px solid #ebdfb0;background-color:#fff4c8;text-align:center;width:600px;font-size:16px;margin:25px;padding:10px;"><%=@logout_message%></div>
    <% end -%>
  </body>
</html>
