<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title><%= @title || "Your Guide to Good Journalism" %> - #{app_name}</title>
    <script type="text/javascript" charset="utf-8"> 
      var fb_sandbox_mode = <%= FacebookConnectSettings.in_sandbox_mode? ? "true" : "false" %>;
    </script>
    <%= render :partial => 'shared/jquery_includes' %>
    <%= render :partial => 'shared/story_listing_js_includes' %>
    <%= yield :page_scripts -%>
    <%= @inline_js || "" %>
    <style>
      .flash_notice, .flash_error, .flash_warning {
        border: 1px solid #ebdfb0;
        background-color: #fff4c8;
        color: #000;
        font-size: 1.6em;
        text-align: center;
        padding: 0.5em;
      }
    </style>
  </head>
  
  <body>
    <%if render_flash %> <p><%= render_flash %></p> <% end %>
    <%= yield %>
  </body>
</html>
