<% if (!@member.has_public_profile? || (@member.rating < 2 && @member.validation_level < 2 )) && !logged_in? -%>
	<% @no_bots = true -%>
	<% if @member.profile_visible_to_all_nt_members? %>
		<% flash[:error] = "Please #{link_to "Log In", "/sessions/new"} to see this member's posts." -%>
	<% else %>
		<% flash[:error] = "This page is unavailable." -%>
	<% end %>
<% else -%>
<% @title = "#{@member.name}'s Story Posts" %>

<div class="span-16">
	<div class="main_column_box">
		<h2>
		<%=link_to_member(@member)%>'s Story Posts
		<span class="body_black"> <%=@sub_heading%> (<%= number_format(@submissions.total_entries) %>)</span>
		</h2>
		<br/>

		<ul class="stories">
			<%= render :partial => 'stories/story', :collection => @submissions, :locals => {:stripes => true, :hide_flags => {:submitted_by => true} } %>
		</ul>
		<br/>
		
		<%= will_paginate @submissions %>
	</div>
</div>
<br/>
<%- end -%>
